@{
    ViewData["Title"] = "Learn more";
}

<div class="row">
    <div class="col-12 col-md-4 mx-auto">
        <h1>Brief explanation of the app</h1>
    </div>
    <div class="col-12 col-md-4 mx-auto">
        <p class="lead">Some sample text here.</p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4 mx-auto">
        <p class="lead">Some sample text here.</p>
    </div>
    <div class="col-12 col-md-4 mx-auto">
        <h1>Techstack</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4 mx-auto">
        <h1>Future improvements</h1>
    </div>
    <div class="col-12 col-md-4 mx-auto">
        <p class="lead">Some sample text here.</p>
    </div>
</div>