@{
    ViewData["Title"] = "Learn More";
}

<div class="col-12 col-md-6 mx-auto mb-4 pb-4">
    <h1 class="fw-semibold">So What's Booking Calendar?</h1>
    <p class="lead">
        This is a web-based calendar application. Designed first as an app that saves user data locally in 
        their browser, it also serves as base to learn complex data structures and functions for myself. 
    </p>
    <p class="lead">
        At the end of the day, this is a hobby project where new ideas get added or deleted so please don't expect this
        to solve issues from existing stable calendar applications. I'm always looking for feedback for my projects so
        feel free to send me some advice for improvements.
    </p>
</div>

<div class="col-12 col-md-6 mx-auto mb-4 pb-4">
    <h1 class="fw-semibold">Techstack & Stages</h1>
    <p class="lead">
        This project is aupposed to be published and rendered in two major stages. 
        First stage is to build and complete a fully functioning calendar app with all necessary functions
        that make it a compatible to its counterparts. Locally saved events and preferences are also requirements 
        for this stage.
    </p>
    <p class="lead">
        Second stage is all about taking the save functions into a database: Microsoft SQL Server, user accounts, etc..
    </p>
    <p class="lead">
        Since this project has ambitious stages, <strong><a class="text-decoration-none" 
        href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-10.0&tabs=visual-studio">ASP.NET Core MVC</a></strong>
        was most sensible way to develope a good base
        for its framework and upcoming additions, especially regarding the backend.
    </p>
    <p class="lead">
        Mobile-first development in web applications is important and given how ASP.NET brings 
        <strong><a class="text-decoration-none" href="https://getbootstrap.com/">Bootstrap</a></strong> into it's styling
        it felt fitting to fully include it in this project's visual outlook.
    </p>
    <p class="lead">
        <strong><a class="text-decoration-none" href="https://fullcalendar.io/">FullCalendar</a></strong> 
        is chosen as the basis of the calendar since it's open source and flexible JavaScript
        functions go hand in hand with projects first stage.
    </p>
    <p class="lead">
        The project codebase is submitted and viewable in 
        <strong><a class="text-decoration-none" href="https://github.com/nima-razi/web-calendar">GitHub</a></strong>.
    </p>
    <p class="lead">
        The site is published via <strong><a class="text-decoration-none" href="https://azure.microsoft.com/en-us">Microsoft Azure</a></strong>.
    </p>
</div>