@{
    ViewData["Title"] = "Interactive Calendar";
}

<div id="calendar"></div>

<partial name="_EventModal" />

@section Scripts {
    <script src="~/js/event-core.js" asp-append-version="true"></script>
    <script src="~/js/calendar-init.js" asp-append-version="true"></script>
}